<section>
<ul class="list-group-zip">
    <li class="list-group-item">
        <h4><i class="icon-asterisk icon-large"></i>Links</h4></li>

    <li class="list-group-item-zip">
        <a href="https://101.camp/">
            蟒营™ 课程框架
        </a>
    </li>

    <li class="list-group-item-zip">
        <a href="https://py.101.camp/">
            蟒营™Py入门班
        </a>
    </li>
    <li class="list-group-item-zip">
        <a href="https://fm.101.camp/">
            蟒营™ 电台
        </a>
    </li>

    <li class="list-group-item-zip">
        <a href="https://blog.101.camp/">
            蟒营™ 怂怼录
        </a>
    </li>

    <li class="list-group-item-zip">
        <a href="https://du.101.camp/">
            蟒营™ 自怼圈
        </a>
    </li>


    <li class="list-group-item-zip">
        <a href="https://www.bmpi.dev/">
            构建我的被动收入
        </a>
    </li>

    <li class="list-group-item-zip">
        <a href="https://yixuan.li/">
            Yixuan · 厨娘界元老
        </a>
    </li>

    <li class="list-group-item-zip">
        <a href="http://www.huyuning.com/">
            阿宁 inner space
        </a>
    </li>

</ul>
</section>
